alembic
beautifulsoup4
celery
elasticsearch
flask
h5py
jinja2
marshmallow
psycopg2-binary
pymongo
python-consul
hvac
pytz
pyyaml
redis
requests
riak
sqlalchemy
uwsgi-tools
numpy
pandas
scikit-learn
numba
